In [2]:
import pandas as pd

In [104]:
sid = input("Enter your Student ID: ")

Enter your Student ID:  2370814

In [106]:
lastdig = int(sid[-1])

In [108]:
n = lastdig if lastdig != 0 else 10

In [110]:
data = pd.read_csv('lab2excel.csv')

In [116]:
groupby = data.groupby(['Relationship', 'hours-per-week']).size().reset_index(name='counts')
print(groupby)

  Relationship  hours-per-week  counts
0     divorced              40       2
1      married              20       1
2      married              40       3
3       single              20       4

In [118]:
def reducehours(row):
    return row - n

In [120]:
data['reduced-hours'] = data['hours-per-week'].apply(reducehours)

In [122]:
finalgroupby = data.groupby(['Relationship', 'reduced-hours']).size().reset_index(name='counts')

In [124]:
print(finalgroupby)

  Relationship  reduced-hours  counts
0     divorced             36       2
1      married             16       1
2      married             36       3
3       single             16       4